.container{
  display: inline-block;
}

.content{
}

.header {
  position: relative;
  z-index: 1001;
}

.menu {
  position: relative;
  z-index: 1002;
}

.dropdown {
  position: absolute;
  left : 0;
  top : 0px;
  margin-top: -10px;
  padding-top: 0px !important;
  border-radius: 0px 0px 6px 6px !important;
}

.dropdown li:last-child{
  border-bottom: none !important;
}

.relative {
  position: relative;
}

.list{
  color: white;
  background-color: var(--primary-bg);
  padding: 10px;
  border-radius: 6px;
  list-style-type: none;
  width: 170px;
  font-weight: 500;
}

.list li{
  border-bottom: 1px solid white;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.list li:hover::before{
  content: "";
  background-color: var(--secondary-bg);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 6px;
  z-index: 0;
}


.list li:hover span{
  position: relative;
  z-index: 1;
}

.collapsed li:last-child{
  border-color: transparent;
}


.icon {
  position: absolute;
  top: 16px;
  right: 12px;
  cursor: pointer;
  user-select: none;
}